{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="main-wrapper">

	<article class="about-section py-5">
		<div class="container">
			<h2 class="title mb-3">About Me</h2>

			<p>Hey there, I'm Shayxon Toirjonov! Born on December 7, 2006, I've always loved playing around with
				technology. Programming caught my interest early, especially Python backend development. It's like
				solving puzzles, figuring out how to make things work behind the scenes. I'm all about exploring and
				learning new tricks to improve my coding skills. </p>
			<h5 class="mt-5">About The Blog</h5>
			<p>Whether you're a beginner or an expert, you'll find helpful tips and tricks here. I cover everything from
				building websites with HTML and CSS to creating bots for Telegram. It's all
				about making programming fun and accessible for everyone. So if you're curious about coding or want to
				learn something new, stick around! There's always something
				interesting to discover.</p>
			<h5 class="mt-5">My Skills and Experiences</h5>
			<p>I'm a Python backend developer. I specialize in building efficient systems that
				power websites and applications. I'm also familiar with HTML, CSS and JavaScript</p>
		</div>
	</article><!--//about-section-->

	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">Newsletter</h2>
			<div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
			<div class="single-form-max-width pt-3 mx-auto">
				<form class="signup-form row g-2 g-lg-2 align-items-center">
					<div class="col-12 col-md-9">
						<label class="sr-only" for="semail">Your email</label>
						<input type="email" id="semail" name="semail1" class="form-control me-md-1 semail"
							placeholder="Enter email">
					</div>
					<div class="col-12 col-md-2">
						<button type="submit" class="btn btn-primary">Subscribe</button>
					</div>
				</form><!--//signup-form-->
			</div><!--//single-form-max-width-->
		</div><!--//container-->
	</section>

</div><!--//main-wrapper-->

{% endblock %}