{% extends 'base.html' %}

{% block title %}
Blog Posts
{% endblock %}

{% block content %}

<div class="main-wrapper">

	<article class="blog-post px-3 py-5 p-md-5">
		<div class="container single-col-max-width">
			<header class="blog-post-header">
				<h2 class="title mb-2">{{post.title}}</h2>
				<div class="meta mb-3"><span class="date">{{post.publish}}</span><span class="time">
						<span class="comment"><p class="text-link">{{post.comments.count}} comment{{post.comments.count|pluralize}}</p></span></div>
			</header>

			<div class="blog-post-body">
				<figure class="blog-banner">
					<a href="https://made4dev.com"><img class="img-fluid" src="/media/{{post.image}}" alt="image"></a>
				</figure>
				<p>{{post.body|safe}}</p>

			</div>

			<div class="blog-comments-section">

			</div><!--//blog-comments-section-->

		</div><!--//container-->
		<br><br><br>
		<h2 style="text-align: center; margin-bottom: 20px; font-size: 24px; color: #333;">Leave a Comment</h2>

		<form method="post" id="comment-form">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" id="comment_btn" value="Submit">
		</form>
		<br>
		<div class="comment-section">
			<h2>Comments</h2>
			<br>
			<div id="comments-container">
				{% for comment in comments %}
				<div class="comment">
					<h3>{{ comment.name }}</h3>
					<p>{{ comment.comment }}</p>
				</div>
				{% endfor %}
			</div>
		</div>

	</article>

	<section class="promo-section theme-bg-light py-5 text-center">
		<div class="container">
			<!-- <h2 class="title">Promo Section Heading</h2>
			<p>You can use this section to promote your side projects etc. Lorem ipsum dolor sit amet, consectetuer
				adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p> -->
		</div><!--//container-->
	</section><!--//promo-section-->

</div><!--//main-wrapper-->
<script type="text/javascript">
	$(document).ready(function () {
		$('#comment_btn').click(function (e) {
			e.preventDefault();
			name = $('#id_name').val()
			comment = $('#id_comment').val(),

			$.ajax({
				type: "POST",
				url: `/comment/${'{{post.id}}'}/`,
				headers: { 'X-CSRF-TOKEN': $('meta[name="csrf_token"]').attr('content'), '_method': 'patch' },
				data: {
					name: name,
					email: $('#id_email').val(),
					comment: comment,
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				success: function (response) {
					if (response.status == 200){
						$('#comment-form')[0].reset();
						$('#comments-container').append(`<div class='comment'>
															<h3>${name}</h3>
															<p>${comment}</p>
														</div>`)
						let count = $('.text-link').text().split(" ")[0]
						count = parseInt(count) + 1
						if (count == 1){
							$('.text-link').text(`${count} comment`)
						} else {
							$('.text-link').text(`${count} comments`)
						}
					} else {
						alert('Fill all fields correctly!')
					}									
				}
			});
		});
	});
</script>
{% endblock %}