ul.messages {
    margin: 10px 15%;
    padding: 0;
    list-style-type:
        none;
    /* position: absolute;
    width: 70%;
    right: 0px; */
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

ul.messages li.success {
    background: #81ce81;
}

ul.messages li.success a {
    color: #0ac33e;
}

ul.messages li.error {
    background: #a30029;
    color: #e9828e;
}

ul.messages li.error a {
    color: #e9828e;
}

ul.messages li.info {
    background: #faffae;
    color: #696b4e;
}

ul.messages li.info a {
    color: #1586de;
}

ul.messages li.warning {
    background: #de9404;
}

ul.messages li.warning a {
    color: #f49000;
}

ul.messages li a.close {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

form {
    margin: 0 auto;
    width: 50%;
}

/* Style for form inputs and labels */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px; /* Adjust height of textarea */
}

/* Style for submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.comment-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment h3 {
    margin-top: 0;
    color: #333;
}

.comment p {
    margin: 5px 0;
    color: #666;
}

.comment p:last-child {
    margin-bottom: 0;
}

.similar-posts {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
}

.similar-posts h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.similar-posts ul {
    list-style: none;
    padding: 0;
}

.similar-posts li {
    font-size: 18px;
    margin-bottom: 5px;
}

.similar-posts li a {
    text-decoration: none;
    color: #333;
}

.similar-posts li a:hover {
    color: #007bff;
}
